STF/esbtesting/esb/TestNG/resources/schema_xmlcatalog/db_emp_detail.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://samples.abhi.rest.db/emp">
    <xsd:element name="Employee">
        <xsd:complexType>
            <xsd:sequence>
				<xsd:element name="emp_id" type="xsd:int" minOccurs="0"/>
				<xsd:element name="emp_name" type="xsd:string" minOccurs="0"/>
				<xsd:element name="emp_age" type="xsd:int" minOccurs="0"/>
				<xsd:element name="emp_desig" type="xsd:string" minOccurs="0"/>
				<xsd:element name="emp_team" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
